{% extends 'main.html' %}
{% block content %}
<div>
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li style="color: red;">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username"/>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password"/>

        <input type="submit" value="Login">

        <p>Don't have an account yet?</p>
        <a href="{% url 'register' %}">Register</a>
    </form>

</div>
{%endblock content%}
